<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header :: header('Supplier List')}">
  </head>
  <body>
  <style>
    .page-container {
      background-color: #F8F9FA;
      padding-bottom: 10px;
    }
    .plus-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-bottom: solid 5px #198754;
      color: white;
      font-size: 35px;
      margin-left: 15px;
      margin-top: 10px;
      position: relative;
      vertical-align: top;
    }
  </style>
    <nav th:replace="~{fragments/header :: navbar('suppliers')}"></nav>
    <div class="container page-container rounded-3">
      <div style="display: inline-flex;">
      <h1 style="color:#000000;">Supplier List</h1>
      <a
              sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')"
              th:href="@{/suppliers/save}"
              class="btn btn-success plus-icon"
      >
        +
      </a>
        </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Items</th>
            <th sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="supplier : ${suppliers}">
            <td th:text="${supplier.id}"></td>
            <td th:text="${supplier.name}"></td>
            <td th:text="${supplier.email}"></td>
            <td th:text="${supplier.phoneNumber}"></td>
            <td>
              <ul>
                <li
                  th:each="item : ${supplier.items}"
                  th:text="${item.name}"
                ></li>
              </ul>
            </td>
            <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')">
              <a
                class="btn btn-primary"
                th:href="@{/suppliers/save(id=${supplier.id})}"
              >
                Update
              </a>
              <a
                class="btn btn-danger"
                sec:authorize="hasRole('ROLE_ADMIN')"
                th:href="@{/suppliers/delete(id=${supplier.id})}"
              >
                Delete
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script th:replace="~{fragments/footer :: bootstrap-js}"></script>
  </body>
</html>
