<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Update Supplier</title>
    <link
      href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/static/css/save-supplier.css"
    />
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/all.min.css"/>
  </head>
  <body>
    <div class="container page-container rounded-3 mt-5">
      <div class="text-and-buttons p-3">
        <h2 class="text-lg-start"><i class="fa-solid fa-pen-nib"></i> Update Supplier</h2>
        <div class="update-and-cancel">
          <button
            type="submit"
            form="save-form"
            class="update-button btn btn-primary"
          >
            <i class="fa-solid fa-check"></i> Update
          </button>
          <a th:href="@{/suppliers}" class="btn btn-danger"> <i class="fa-solid fa-xmark"></i> Cancel </a>
        </div>
      </div>
      <form
        action="#"
        th:action="@{/suppliers/save}"
        th:object="${supplier}"
        method="post"
        id="save-form"
      >
        <div class="both-halves">
          <div class="first-half">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group mb-3">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control info-input"
                id="name"
                th:field="*{name}"
                th:errorClass="${#fields.hasErrors('name') ? 'is-invalid' : _}"
                required
              />
              <div
                th:if="${#fields.hasErrors('name')}"
                th:text="${#fields.errors('name')[0]}"
                class="invalid-feedback"
              >
                Invalid input
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="email">Email</label>
              <input
                type="text"
                class="form-control info-input"
                id="email"
                th:field="*{email}"
                th:errorClass="${#fields.hasErrors('email') ? 'is-invalid' : _}"
              />
              <div
                th:if="${#fields.hasErrors('email')}"
                th:text="${#fields.errors('email')[0]}"
                class="invalid-feedback"
              >
                <i class="fa-solid fa-triangle-exclamation"></i> Invalid input
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="phoneNumber">Phone Number</label>
              <input
                type="tel"
                class="form-control info-input"
                id="phoneNumber"
                th:field="*{phoneNumber}"
                th:errorClass="${#fields.hasErrors('phoneNumber') ? 'is-invalid' : _}"
                required
              />
              <div
                th:if="${#fields.hasErrors('phoneNumber')}"
                th:text="${#fields.errors('phoneNumber')[0]}"
                class="invalid-feedback"
              >
                <i class="fa-solid fa-triangle-exclamation"></i> Invalid input
              </div>
            </div>
          </div>
          <div class="second-half">
            <div class="form-group">
              <label for="items">Items</label>
              <select
                multiple
                id="items"
                class="form-control selectpicker"
                th:field="*{items}"
              >
                <option
                  th:each="item : ${items}"
                  th:value="${item.id}"
                  th:text="${item.name}"
                >
                  Item Name
                </option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script th:replace="~{fragments/footer :: bootstrap-js}"></script>
  </body>
</html>
