<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header :: header('Update Supplier')}"> </head>
  <body>
    <div class="container">
      <h2 class="text-center">Update Supplier</h2>
      <form
        action="#"
        th:action="@{/suppliers/save}"
        th:object="${supplier}"
        method="post"
      >
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            th:field="*{name}"
          />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            th:field="*{email}"
          />
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone Number:</label>
          <input
            type="tel"
            class="form-control"
            id="phoneNumber"
            th:field="*{phoneNumber}"
          />
        </div>
        <div class="form-group">
          <label for="items">Items:</label>
          <select
            class="form-control selectpicker"
            id="items"
            multiple
            th:field="*{items}"
          >
            <option
              th:each="item : ${items}"
              th:value="${item.id}"
              th:text="${item.name}"
            >
              Item Name
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
    <script th:replace="~{fragments/footer :: bootstrap-js}"></script>
  </body>
</html>
