<a
  th:fragment="paging(endpoint, pageNum, label, tooltip)"
  class="page-link"
  th:href="@{${endpoint} + '?' + ${keyword!=null && keyword!=''? 'keyword=' + keyword + '&' : ''}
                           + 'page=' + ${pageNum} + '&size=' + ${pageSize}
                           + ${sortField!=null ? '&sort=' + sortField + ',' + sortDirection : ''}}"
  th:title="${tooltip}"
  rel="tooltip"
>
  [[${label}]]
</a>
<nav
  th:fragment="page-nav(endpoint)"
  aria-label="Pagination"
  th:if="${totalPages > 0}"
>
  <ul class="pagination justify-content-center">
    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
      <a th:replace="~{this :: paging(${endpoint}, 1, '<<', 'First Page')}"></a>
    </li>
    <li
      class="page-item font-weight-bold"
      th:classappend="${currentPage == 1} ? 'disabled'"
    >
      <a
        th:replace="~{this :: paging(${endpoint}, ${currentPage - 1}, 'Prev', 'Previous Page')}"
      ></a>
    </li>
    <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
      <a class="page-link" href="#">...</a>
    </li>
    <li
      class="page-item"
      th:classappend="${page == currentPage} ? 'active'"
      th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}"
    >
      <a
        th:replace="~{this :: paging(${endpoint}, ${page}, ${page}, 'Page ' + ${page})}"
      ></a>
    </li>
    <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
      <a class="page-link" href="#">...</a>
    </li>
    <li
      class="page-item font-weight-bold"
      th:classappend="${currentPage == totalPages} ? 'disabled'"
    >
      <a
        th:replace="~{this :: paging(${endpoint}, ${currentPage + 1},'Next', 'Next Page')}"
      ></a>
    </li>
    <li
      class="page-item"
      th:classappend="${currentPage == totalPages} ? 'disabled'"
    >
      <a
        th:replace="~{this :: paging(${endpoint}, ${totalPages}, '>>', 'Last Page')}"
      ></a>
    </li>
  </ul>
</nav>
