<th scope="col" th:fragment="sorting(endpoint, field, label)">
  <a
    class="link-underline link-underline-opacity-0"
    th:href="@{${endpoint} + '?' + ${keyword!=null && keyword!=''? 'keyword=' + keyword + '&' : ''}
                + 'page=' + ${currentPage} + '&size=' + ${pageSize}
                + ${sortField!=null ? '&sort=' + field + ',' + (sortField == field ? reverseSortDirection : sortDirection) : ''}}"
  >
    [[${label}]]
  </a>
  <span
    th:if="${sortField == field}"
    th:class="${sortDirection == 'asc' ? 'fas fa-arrow-down-short-wide' : 'fas fa-arrow-down-wide-short'}"
  ></span>
</th>
