.page-container {
  background-color: #f8f9fa;
  padding-bottom: 10px;
}
.plus-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: white;
  font-size: 20px;
}

h1 {
  color: #000;
}

.option-buttons{
  font-size: 30px;
  color: #3e3c3c;
  margin-right: 6px;
}

.both-buttons{
  display: inline-flex;
}
