
body {
    background-color: #F5F5F5;
    /*background-color: #343a40; This will be for dark mode. */
}

.dark-black-bg {
    background-color: #FFFFFF;
    /*background-color: #a9a9a9; This will be for dark mode.*/
}

.username-input label.text {
    font-size: 0.75rem;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #ffffff;
    width: fit-content;
}

input[type=text].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 1px #818CF8 solid;
    border-radius: 5px;
    background: #ffffff;
}

input[type=text].input:focus {
    outline: none;
}

input[type=password].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 1px #818CF8 solid;
    border-radius: 5px;
    background: #ffffff;
}

input[type=password].input:focus {
    outline: none;
}

.password-input label.text {
    font-size: 0.75rem;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #ffffff;
    width: fit-content;
}

.error-sign {
    margin-top: 30px;
    margin-bottom: -30px;
    background-color: black;
}