.page-container {
    /*margin-top: 15px;*/
    background-color: #F8F9FA;
    padding-bottom: 10px;
}
.both-halves {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
}
.first-half {
    width:48%;
    /*height: 100vh;*/
}
.second-half {
    width: 48%;
    /*height: 100vh;*/
}
.info-input {
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.update-button {
    margin-right: 10px;
    /*justify-content: flex-end;*/
    /*margin-top: 10px;*/
}

h2 {
    margin-left: 28px;
    margin-top: 10px;
}

.text-and-buttons {
    display: flex;
    justify-content: space-between;
}

.selectpicker {
    height: 218px;
}

.update-and-cancel {
    display: inline-block;
    margin-right: 29px;
    justify-content: flex-end;
    margin-top: 15px;
}