<html
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Homepage</title>
    <link
      href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/static/css/home.css"
    />
  </head>
  <body>
    <nav th:replace="~{fragments/header :: navbar('home')}"></nav>
    <div class="container page-container rounded-3 p-3">
      <div>
        <h2>
          Welcome, <span class="user-name" sec:authentication="name"></span>!
        </h2>
      </div>
      <div class="all-buttons">
        <div class="top-three">
          <a class="items-button btn btn-success" th:href="@{/items}">
            Items
          </a>
          <a class="suppliers-button btn btn-info" th:href="@{/suppliers}">
            Suppliers
          </a>
        </div>
        <div class="secondary-buttons">
          <a
            target="_blank"
            class="report-button btn btn-secondary"
            href="https://github.com/0xzer0x/inventory-management/issues"
          >
            Report a bug
          </a>
          <a
            target="_blank"
            class="request-button btn btn-secondary"
            href="https://github.com/0xzer0x/inventory-management/issues"
          >
            Request a feature
          </a>
          <a class="logout-button btn btn-danger" th:href="@{/logout}">
            Log out
          </a>
        </div>
      </div>
    </div>
    <script th:replace="~{fragments/footer :: bootstrap-js}"></script>
  </body>
</html>
