<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Log In</title>
    <!-- Include Bootstrap CSS -->
    <link
            href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"
            rel="stylesheet"
    />
</head>
<body>
<div class="container">
    <h1 class="text-center my-4">Please Log In</h1>
    <div th:if="${param.error}" class="alert alert-danger">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post" class="form-group">
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username"/>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password"/>
        </div>
        <input type="submit" value="Log in" class="btn btn-primary"/>
    </form>
</div>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>