<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Item List</title>
    <link
      href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/static/css/list.css"
    />
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/all.min.css"/>
  </head>
  <body>
    <nav th:replace="~{fragments/header :: navbar('items')}"></nav>
    <div class="container page-container rounded-3 p-3">
      <div class="d-flex align-items-center">
        <h1 class="me-3">Item List</h1>
        <a
          sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')"
          th:href="@{/items/save}"
          class="btn btn-success plus-icon"
        >
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Suppliers</th>
            <th sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.unitPrice}"></td>
            <td>
              <ul>
                <li
                  th:each="supplier : ${item.suppliers}"
                  th:text="${supplier.name}"
                ></li>
              </ul>
            </td>
            <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')">
              <div class="both-buttons">
              <a
                title="Update"
                class="option-buttons"
                aria-hidden="true"
                th:href="@{/items/save(id=${item.id})}"
              >
                <i class="fa-regular fa-pen-to-square option-buttons"></i>
              </a>
              <button
                title="Delete"
                class="option-buttons btn-delete"
                aria-hidden="true"
                sec:authorize="hasRole('ROLE_ADMIN')"
                th:href="@{/items/delete(id=${item.id})}"
                data-bs-toggle="modal" data-bs-target="#confirmModal"
              >
                <i class="fa-regular fa-trash-can option-buttons"></i>
              </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="confirmModalLabel">Delete Confirmation</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to remove item?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <a type="button" id="btnConfirm" class="btn btn-danger">Yes</a>
          </div>
        </div>
      </div>
    </div>
    <script th:replace="~{fragments/footer :: bootstrap-js}"></script>
    <script src="/static/js/list.js">
    </script>
  </body>
</html>
