<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header :: header('Item List')}"> </head>
  <body>
    <nav th:replace="~{fragments/header :: navbar('items')}"></nav>
    <div class="container">
      <h1>Item List</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Suppliers</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.unitPrice}"></td>
            <td>
              <ul>
                <li
                  th:each="supplier : ${item.suppliers}"
                  th:text="${supplier.name}"
                ></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script th:replace"~{fragments/footer :: bootstrap-js}"></script>
  </body>
</html>
